body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    height: 100%;
    align-items: center;
}

.header {
    grid-area: header;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    min-height: 100px;
}

@media (max-width: 700px) {
    .header {
        flex-direction: column;
        row-gap: 20px;
    }

    .cartContent {
        width: 90%!important;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

.main {
    grid-area: main;
}

.logo {
    max-height: 100px;
    max-width: 200px;
}

.thumbnail {
    position: relative;
    width: 100%;
    max-height: 100%;
}

.backgroundImage {
    background-repeat: no-repeat;
    object-fit: none;
    width: 100%;
    max-height: 500px;
}

@media (max-width: 768px) {
    .backgroundImage {
        height: 100%;
    }
}

.backgroundText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .backgroundText {
        font-size: 24px;
    }
}

/* PRODUCTS */

.products {
    grid-area: products;
    display: block;
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
}

.productsTitle {
    text-align: center;
}

.productGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    column-gap: 10px;
    row-gap: 30px;
}

.productCard {
    width: 100%;
    min-width: 250px;
    max-width: 24%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    row-gap: 10px;
    flex: 1 1 0;
    border-radius: 5px;
    padding: 8px;
}

.removeButtonBlock {
    min-height: 32px;
}

.productImage {
    width: 100%;
    height: 200px;
    object-fit: fill;
}

.productDescription {
    flex: 1 1 0;
}

.regularPrice, .memberPrice {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    line-height: 0;
    height: 14px;
}

.member p {
    text-decoration: line-through;
}

/* FOOTER */

.footer {
    grid-area: footer;
    width: 100%;
    padding-top: 50px;
    border-top: solid 10px white;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footerItem {
    width: 100%;
    min-width: 250px;
    max-width: 24%;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 10px;
    flex: 1 1 30%;
}

ul {
    list-style-type: none;
    padding: 0;
}

.footerQuestions, .footerContact {
    font-weight: 500;
}

.copyright {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 50px;
}

@media (max-width: 800px) {
    .footerContainer {
        flex-direction: column;
        margin: auto;
        row-gap: 20px;
    }

    .footerItem .logo {
        margin: auto;
    }
}

@media (max-width: 768px) {
    .logo {
        max-width: 50%;
    }
}

/* CART */

.cart {
    z-index: 100;
    display: inherit;
}

.cartHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.totalCartItems {
    margin: 0 5px;
}

.cartContent {
    position: absolute;
    width: 250px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 35px;
}

.cartButtons {
    display: flex;
    justify-content: space-around;
}

.cartProducts {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 0;
}

.cartProduct {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 30px;
}

.totalPrice {
    display: block;
    padding: 5px;
}

/* Checkout */

.checkoutBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 100px;
}

.checkoutLogo {
    max-height: 100px;
}

.checkoutProducts {
    display: flex;
    flex-direction: column;
    width: 85%;
    row-gap: 20px;
    padding-top: 20px;
}

.checkoutTitle {
    text-align: center;
    margin-top: 20px;
}

.checkoutProductCard {
    display: flex;
    flex-direction: row;
}

.checkoutProductLine {
    border: solid 1px #f8f9fa;
    border-radius: 10px;
}

.checkoutProductImage {
    max-width: 250px;
}

.checkoutProductInfo {
    width: 70%;
    text-align: center;
}

.checkoutProductCountAndPrice {
    min-width: 100px;
}

.checkoutTotalPrice, .checkoutButtons {
    display: flex;
    flex-direction: row;
    width: 85%;
}

.checkoutTotalPrice {
    justify-content: flex-end;
}

.checkoutButtons {
    justify-content: space-between;
    margin: 10px 0;
}

/* OVERLAY */

.overlay {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43,37,35,.40);
    z-index: 199;
}

.modal {
    opacity: 1!important;
    margin-top: 200px;
    z-index: 200;
    color: black;
}

.modal-dialog {
    transform: none!important;
}

/* Register */

.register-parent {
    display: flex;
    justify-content: center;
}

.register-block {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 7px 12px 15px 11px #888888;
}

.register-sidebar {
    width: 500px;
    background-repeat: no-repeat;
    background-size: auto 100%;
}