{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="main">
        <div class="adminHeader">
            Admin main
        </div>

        {% include 'admin/messages.html.twig' %}

        <div class="content">
            {{ design.id }}

            <a href="{{ path('edit_design', {'id': design.id}) }}">Edit design</a>
        </div>
    </div>
{% endblock %}