{% for label, messages in app.flashes() %}
    {% for message in messages %}
        <div class="text-center">
            <div class="alert alert-{{ label }}" style="display: inline-block; min-width: 200px; padding: 10px;">
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endfor %}